@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2');
}

:root {
    --primary-color-white: #FFFFFF;
    --primary-color-blueAccent: #2B7FFF;
    --primary-color-dark: #011C44;
}

 /********base********/
* {
     box-sizing: border-box;
 }

body {
    color: var(--primary-color-dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}

h1, h2, h3, h4, h5, p {
    margin-top: 0px;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0px 16px;
}

.section {
    padding: 48px 0px;
}

.section_title {
    color: var(--primary-color-dark);
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
    margin-bottom: 48px;
}

.title_accent {
    color: var(--primary-color-blueAccent);
}

.text-accent {
    text-transform: capitalize;
}

/****************button*********/
.button {
    background-color: var(--primary-color-blueAccent);
    color: var(--primary-color-white);
    border-radius: 32px;
    border-color: var(--primary-color-blueAccent);
    border: 2px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;

    margin-bottom: 14px;
    padding: 16px 32px;
}

.button:hover {
    color: var(--primary-color-dark);
    border: 2px solid #2B7FFF;
    background-color: transparent;  
}
/**********links************/
.links {
    color: var(--primary-color-dark);
}

.links:hover {
    color: var(--primary-color-blueAccent);
    font-weight: 700;
}

 /***********nav************/
.nav-icon-item {
    fill: var(--primary-color-dark);
}
.nav-list {
    line-height: 1.17;
}
/************ hero ******************/
.hero {
    padding: 226px 0px;
}
.hero-type {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 16px;
}
.hero_title {
    color: var(--primary-color-blueAccent);
    font-size: 140px;
    line-height: 0.81;
    margin-bottom: 40px;
}
.hero-btn-text {
    font-size: 12px;
    line-height: 1.5;
}


/*********About*****************/
.about {
    padding-bottom: 88px;
}
.about-title {
    margin-bottom: 40px;
}
.about-text {
    font-size: 22px;
    line-height: 1.72;
}
.about-text-accent {
    font-weight: 600;
}
/************choose************/
.choose {
    padding-top: 88px;
}
.choose-list-item {
    text-align: center;
}

/**************procedures************/


/*************contacts***************/

/*************footer****************/
.footer {
    background-color: var(--primary-color-dark);
    font-size: 16px;
    line-height: 1.17;
}
.footer-list {
    color: var(--primary-color-white);
}
.address-link {
    color: var(--primary-color-white);
}
.addres-copyright {
    color: #747272;
    font-size: 13px;
}
