@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2');
}

:root {
    --primary-color-white: #FFFFFF;
    --primary-color-blueAccent: #2B7FFF;
    --primary-color-dark: #011C44;
}

 /********base********/
* {
     box-sizing: border-box;
 }

body {
    color: var(--primary-color-dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}

h1, h2, h3, h4, h5, p {
    margin: 0px;
}

address {
    font-style: normal;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
}
.container {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0px 8px;
}

.section {
    padding: 48px 0px;
}

.section_title {
    color: var(--primary-color-dark);
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
    margin-bottom: 48px;
    text-align: center;
}

.title_accent {
    color: var(--primary-color-blueAccent);
}

.text-accent {
    text-transform: capitalize;
}

/****************button*********/
.button {
    background-color: var(--primary-color-blueAccent);
    color: var(--primary-color-white);
    border-radius: 32px;
    border-color: var(--primary-color-blueAccent);
    border: 2px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;

    margin-bottom: 14px;
    padding: 16px 32px;
}

.button:hover {
    color: var(--primary-color-dark);
    border: 2px solid #2B7FFF;
    background-color: transparent;  
}
/**********links************/
.links {
    color: var(--primary-color-dark);
}

.links:hover {
    color: var(--primary-color-blueAccent);
}

 /***********nav************/
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px;
    gap: 40px;
}

.nav-list {
    display: flex;
    line-height: 1.17;
    gap: 56px;
}


.nav-icon-list {
    display: flex;
    gap: 32px;
}
 .nav-icon-item {
    fill: var(--primary-color-dark);
}

/************ hero **********/
.hero {
    padding: 226px 0px;
}
.hero-content {
    padding-left: 106px;
}
.hero-type {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 16px;
}
.hero_title {
    color: var(--primary-color-blueAccent);
    font-size: 140px;
    line-height: 0.81;
    margin-bottom: 40px;
    text-align: left;
}

.hero-btn-text {
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    width: 238px;
}


/*********About*****************/
.about {
    padding-bottom: 88px;
}
.about-tumb {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.about-tumb-content {
    width: 709px;
}
.about-title {
    margin-bottom: 40px;
    text-align: left;
}
.about-text {
    font-size: 22px;
    line-height: 1.72;
}
.about-text-indent {
    margin-bottom: 40px;
}
.about-text-accent {
    font-weight: 600;
}
/************choose************/
.choose {
    padding-top: 88px;
}
.choose-list {
    display: flex;
    justify-content: center;
    gap: 56px;
}
.choose-list-item {
    text-align: center;
    padding: 24px 32px;
    border: 1px solid black;
    border-radius: 30px;
}
.choose-list-item p {
width: 253px;
}

.choose-icon {
    margin-bottom: 8px;
}
/**************procedures************/
.procedures-list {
    display: flex;
    justify-content: center;
}
.procedures-list-item {
    flex-basis: calc((100% - 32px) / 3);
}

/*************contacts***************/
.contacts {
    padding-bottom: 96px;
}

/*************footer****************/
.footer {
    background-color: var(--primary-color-dark);
    font-size: 16px;
    line-height: 1.17;
    padding-top: 56px;
    padding-bottom: 56px;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    color: var(--primary-color-white);
    width: 203px;
}
.footer-list-item:not(:last-child) {
    margin-bottom: 16px;
}
.address-list {
    margin-bottom: 16px;
}
.address-link {
    color: var(--primary-color-white);
}
.footer-nav-icon {
    text-align: center;
}

.addres-copyright {
    color: #747272;
    font-size: 13px;
}
.footer-political {
    display: flex;
    flex-direction: column;
}
.political-link {
    margin-bottom: 16px;
}